
body {
    display: flex;
    justify-content: center;
}

.container {
    width: 300px;

    display: flex;
    flex-direction: column;
    padding: 1.5em;
    background-color: #c6dce8;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 16%);

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

.title span {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #607d8b;
}

.form_input {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input label{
    color: #696969;
    font-family: 'Roboto', sans-serif;
    margin-right: 5px;
    font-size: 1em;
    font-weight: bold;
}

.input input {
    height: 1.8em;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    
}

.section-button {
    display: flex;
    align-items: center;
    justify-content: center ;
    margin-bottom: 1.3em;
}

.section-button button{
    width: 225px;
    height: 2em;
    border: none;
    background-color: #607d8b;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}

button:hover {
    background-color: #8db4c7;
    cursor: pointer;

}


button:focus {
    outline: none;
}

.result {
    height: 95px;
    width: 189px;
    align-content: center;
    align-self: center;
    background-color: #607d8b;
    border-radius: 7px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-size: 1.2em;
}